.box {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(11, 2rem);
  grid-column-gap: 0.25rem;
  height: 2rem;
}

.color-box {
  border: 1px solid black;
  &:hover {
    cursor: pointer;
  }
}
