<div class="box">
  <div
    class="container"
    [ngStyle]="{
      'grid-template-columns':
        'repeat(' + selectedSize + ', ' + getBoxSize(selectedSize) + 'rem)',
      'grid-template-rows':
        'repeat(' + selectedSize + ', ' + getBoxSize(selectedSize) + 'rem)'
    }"
  >
    <div
      *ngFor="let info of cellInformation"
      class="cell"
      id="{{ info.id }}"
      [ngStyle]="{ 'background-color': info.color }"
      (click)="changeCellColor($event)"
    ></div>
  </div>
</div>
