.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
}

.cell {
  border: 0.5px solid black;
  &:hover {
    cursor: pointer;
  }
}
