html,
body {
  margin: 0;
  height: 100vh;
}

body {
  border: 1px solid red;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.spc-ar {
  justify-content: space-around;
}
