html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    124deg,
    rgba(208, 27, 108, 1) 0%,
    rgba(243, 130, 32, 1) 14%,
    rgba(83, 44, 124, 1) 100%
  );
}

.flex {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.spc-ar {
  justify-content: space-around;
}
